a {
    color: black;
    text-decoration:none;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-left: 17px;
}
.menu-right{
    color: black;
    text-decoration:none;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-left: 18px;
}
.container-one{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 24px;
}
.fa-solid{
    font-size: 20px;
    color: rgb(64, 61, 95);
    margin-right: 5px;
}
span{
    margin-right: 15px;
}
.container-two{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hm-logo{
    height: 44px;
    width: 68px;
}
.container-three{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-menu{

    font-size: 16px;
}
.menu-mid{
    margin-top: 19px;
}
.main-menu :hover{
    text-decoration: dashed;
}
.speedy-deliveries{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 0;
}
.title{
    font-family: 'Work Sans', sans-serif;
    margin-top: 70px;
    font-size: 12px;
}
.inner-main{
    display: flex;
    justify-content: center;
}
.summer-sale{
    background-color: #C9002E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: 200;
    width: 960px;
}
.new-sale{
    text-align: center;
}
.shorts-swimwear{
    text-align: center;
    margin-top: -14px;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.member-price{
    display: flex;
    justify-content: center;
}
h4{
    color: #e50010;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    background-color: #f1ebdf;
    width: 920px;
    padding: 20px;
}
.three-picture{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current{
    margin-top: 11px;
}
.gray-banner{
    background-color: #F4EDDD;
    height: 650px;
    width: 100%;
    border: 1px solid black;
}
.inspiration{
    margin-top: -30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    height: 325px ;
    width: 100%;
    border: 1px solid black;
}
.magazine{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 42px;
    line-height: 48px;
    color: #222222;

}